body {
    background: url('/assets/img/photo1.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
}

.login {
    opacity:.9;
}
.card {
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
    background-color: #fff;

}