<div style="width: 100px; height: 100px;"></div>
<h1>liste d'offre d'emploi</h1>
<div style="width: 100px; height: 100px;"></div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">titre</th>
        <th scope="col">description</th>
        <th scope="col">compétence</th>
        <th scope="col">salaire</th>
        <th scope="col">type contrat</th>
        <th>action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let item of itemArray">
        <th scope="row">{{item.titre}}</th>
        <td>{{item.description}}</td>
        <td>{{item.competence}}</td>
        <td>{{item.salaire}}</td>
        <td>{{item.type_contrat}}</td>
        <td>
        
            <button type="button" class="btn btn-primary" (click)="openModalWithClass(template)"  
            (click)="editForm(item.$key)">modifier</button>  
        

          
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="openModalWithClass(template1)"  
          >supprimer</button>  
        </td>
        <ng-template #template>  
          <div class="modal-header">  
            <h4 class="modal-title pull-left">Mettre a jour </h4>  
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
              <span aria-hidden="true">×</span>  
            </button>  
          </div>  
          <div class="modal-body">  
            
            <form>
                <div class="form-group">
                  <label for="formGroupExampleInput">titre</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="titre" name="titre" [(ngModel)]="titre">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">description</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="description"name="description" [(ngModel)]="description">
                </div>
            
                <div class="form-group">
                    <label for="formGroupExampleInput2">compétence</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="compétence" name="competence" [(ngModel)]="competence">
                  </div>
            
                  <div class="form-group">
                    <label for="formGroupExampleInput2">salaire</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="salaire" name="salaire" [(ngModel)]="salaire" >
                  </div>
            
                  <div class="form-group">
                    <label for="formGroupExampleInput2">type contrat</label>
                    <input type="text" class="form-control" id="formroupExampleInput2" placeholder="type contrat" name="type_contrat" [(ngModel)]="type_contrat">
                  </div>
         
              </form>
          </div>  
          <div class="modal-footer">  
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()">annuler</button>  
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()" (click)="onEdit(item.$key)">mettre a jour</button>
          </div> 
        </ng-template> 
        <ng-template #template1>  
          <div class="modal-header">  
            <h4 class="modal-title pull-left">attention!!! </h4>  
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
              <span aria-hidden="true">×</span>  
            </button>  
          </div>  
          <div class="modal-body">  
            <div class="alert alert-danger" role="alert" >
              Voulez vous vraiment supprimer cette offre d'une facon définitive ?
            </div>
      
          </div>  
          <div class="modal-footer">  
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()">annuler</button>  
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()" (click)="onDelete(item.$key)" >confirmer</button>
          </div> 
        </ng-template>





      </tr>
    </tbody>
  </table>


  







 
 








