
body {
    background: url('/assets/img/img.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
}

.login {
    opacity:.7;
}
.card {
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
    background-color: #fff;

}

/*
.form-container {
   //position: absolute;
    top: 25vh;
    margin: 0 auto;
    margin-top: 20%;
    //height: 500px;
    //width: 500px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    
}

*/

