

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="#">seek job</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       
       
        
     
     
    </ul>
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item" >
        <a class="nav-link" routerLink="/user" >liste d'offre </a>
      </li>

      <li class="nav-item" >
        <a class="nav-link" routerLink="demande" >Mes demandes </a>
      </li>
      <a class="nav-link"   (click)="onLogOut()">déconnexion</a>
     
    </ul>
      
  
  </div>
</div>
</nav>


